<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CriptoWeb | {% block titulo_pagina %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/flat-remix.css">
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>        
            <header>
                <p>MyCripto</p>
            </header>
            <section class="contenedor">
                {% block contenido_pagina %}{% endblock %}
            </section>
            <footer>
                <p>&copy; 2021 - Todos los derechos reservados</p>
            </footer>        
    </body>
</html>